.title{
  text-align: center;
  color: darkolivegreen;
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width:320px;

}

.box{
  border: 1px solid black;
  width:80px;
  height:80px;
  display:inline-block;
}